<h1>Editing Medical Practitioner Profile</h1>

<%= render 'form', medical_practitioner_profile: @medical_practitioner_profile %>

<%= link_to 'Show', @medical_practitioner_profile %> |
<%= link_to 'Back', medical_practitioner_profiles_path %>
