<div class="col-sm-12 col-md-12 main"> <!-- dashboard -->
    <h1 class="page-header">Dashboard</h1>
        <%= render 'dashboard/analytics'%>

    <div class="table-responsive">
        <%= render 'dashboard/table'%>
    </div> 


</div> <!-- dashboard -->