<% case current_user.role.to_i %>
<% when 1 %> 
    <% profile = PatientProfile.find_by(user_id: current_user.id) %>
<% when 2 %> 
    <% profile = PractitionerProfile.find_by(user_id: current_user.id) %>
<% end %>



<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <%= image_tag profile.photo_url, width: 200 , height: 200 , class: "img-responsive"%>
        <h4>Photo</h4>
        <span class="text-muted">Photos</span>
    </div>

    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="dashboard-stats">  
            <%= Listing.where(patient_id: current_user.id).count %>
        </div>
        <h4>listing(s)</h4>
        <span class="text-muted">listing(s)</span>
    </div>

    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="dashboard-stats">  
            X
        </div>
        <h4>completed</h4>
        <span class="text-muted">completed</span>
    </div>

    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="dashboard-stats">  
            X
        </div>
        <h4>reviews</h4>
        <span class="text-muted">reviews</span>
    </div>


</div>

<h2 class="sub-header">Patient listings</h2>

