<div class="container-fluid">
    <div class="row">
        <!--<#%= render 'dashboard/sidebar'%>-->

        <%= render 'dashboard/dashboard_main'%>

    </div> <!--row-->
</div> <!-- container-fluid -->