<div class="container">
    <h1>Update Listing</h1>

    <%= render 'form', listing: @listing %>

    <br/>
    <%= link_to 'Back', dashboard_index_path, class: "btn btn-lg btn-default btn-block" %>
</div>