<h1>ReS<strong class="resus-title">U</strong>S<h1> 
<h2>The place where patients and medical practitioners meet!</h1>
<%= link_to 'Join us now to make a difference',  new_user_registration_path, class: "btn btn-outline btn-sm title-btn" %>