<h2>Allergy</h2>
<%= image_tag 'allergy.jpg', class: "img-responsive" %>
<p>If you have never been diagnosed with allergies but think you might have them or aren't sure what causes your allergy symptoms, see an allergist. </p>
