<h2>General surgery</h2>
<%= image_tag 'general_surgery.jpg', class: "img-responsive" %>
<p>A surgical specialty that focuses on abdominal contents including esophagus, stomach, small bowel, colon, liver, pancreas, gallbladder and bile ducts, and often the thyroid gland (depending on local reference patterns). They also deal with diseases involving the skin, breast, soft tissue, trauma, peripheral vascular surgery and hernias.</p>
