<h3>Cardiothoraic surgery</h3>
<%= image_tag 'cardio.jpg', class: "img-responsive" %>
<p>Surgical treatment of organs inside the thorax (the chest)—generally treatment of conditions of the heart (heart disease) and lungs (lung disease). Cardiac surgery (involving the heart and great vessels) and thoracic surgery (involving the lungs) are separate surgical specialties.</p>
