<h1>ReSUS</h1>
<p>Healthcare for Everyone !</p>

<% if user_signed_in? %>
    <% case current_user.role.to_i %>
        <% when 1 %>
           <h2> <%= link_to 'New listing', new_listing_path %> </h2>
    <% end %>


<% else %>
    <h2> not signed in </h2>
<% end %>