<header>
  <div class="container">
      <div class="row">
          <div class="col-sm-7">
              <div class="header-content">
                  <div class="header-content-inner">
                      <h1>ReSUS. The place where patients and medical practitioners meet!</h1>
                      <a href="#download" class="btn btn-outline btn-xl page-scroll">Start now for better health!</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-5">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
            <%= image_tag 'resus_logo.png', class: 'img-responsive' %>

            <div class="button">
                <!-- placeholder for elements below logo -->
            </div>
          </div>
      </div>
  </div>
</header>
  
  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 ReSUS, Inc.</p>
      </footer>
    </div> <!-- /container -->

