<h1>Editing Practitioner Profile</h1>

<%= render 'form', practitioner_profile: @practitioner_profile %>

<%= link_to 'Show', @practitioner_profile %> |
<%= link_to 'Back', practitioner_profiles_path %>
