.navbar-default {
background-color: transparent;
border: 1px solid slategrey;

}

.dashboard-stats {
    border-radius: 50%;
    border: 2px solid slategrey;
    padding:20px; 
    width: 150px;
    height: 200px; 
    font-size: 5em;
}

.navbar-default .nav > li > a {
color: black
    
}

.navbar-header .navbar-brand {
color: black

}

.navbar-default .navbar-header .navbar-brand {
color: black
}

.navbar-default .nav > li.active > a {
color: hotpink
}