.navbar-default {
background-color: lightslategrey;

}

.dashboard-stats {
    border-radius: 50%;
    border: 2px solid slategrey;
    padding:20px; 
    widows: 150px;
    height: 150px; 
    font-size: 5em;
}