.navbar-default {
background-color: lightslategray;
border: 1px solid slategrey;

}

.dashboard-stats {
    border-radius: 50%;
    border: 2px solid slategrey;
    padding:20px; 
    width: 150px;
    height: 200px; 
    font-size: 5em;
}