

<div class="container main-footer"> <!-- container start -->
  <div class="row">

    <div class = "col-xs-12 col-md-12 main-footer-icons">
        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
    </div>
    <p class="main-footer-copyright">&copy; 2016 ReSUS, Inc.</p>
  </div>  <!-- row -->
</div> <!-- /container -->
